<!-- Citation for the following code:
-- Date: 02/14/2024
-- Adapted from  
-- Source bsg_HTML_UI/people.html downloaded from https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327-->

<!--Citation for displaying data
//      # Date: 3/9/2024
//      # Adapted from assignment tutorial
//      # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data

<!-- Citation for adding data 
//      # Date: 3/9/2024
//      # Adapted from assignment tutorial
//      # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data -->
<html>
<head>
<title>Comments</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newComment() { showform('insert'); }
    function updateComment(pid) { showform('update'); }
    //function deleteComment(commentID);// { showform ('delete'); }
    function browseComment() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>

</head>

<body onload="browseComment()">
<h1>Comments</h1>

<nav>
    <a href="trails.html">Trails</a> | <a href="reports.html">Reports</a> | <a href="users.html">Users</a> | <a href="comments.html">Comments</a> | <a href="trails_has_reports.html">Trails_has_Reports</a>
</nav>
<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table id="comment-table">
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.comments.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>
  {{#each data.comments}}
  <tr data-value={{this.commentID}}>
<!--    <td><a href="#" onClick="updateComment('{{this.commentID}}')">Edit</a></td> -->
    <td>{{this.commentID}}</td>
    <td>{{this.commentText}}</td>
    <td>{{this.commentDate}}</td>
    <td>{{this.reportID}}</td>
    <td>{{this.userID}}</td>
  </tr>
  {{/each}}
 
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addComment" action="/add-comment-form"> <!--enctype="multipart/form-data"-->
        <legend><strong>Add Comment</strong></legend>
          <fieldset class="fields">
          <label> Comment Text </label> <input type="text" name="commentTextInput" id="commentTextInput">
          <label> Comment Date </label> <input type="date" name="commentDateInput" id="commentDateInput">
          <label> Report ID </label> 
            <select name="reportIDInput" id="ReportIDInput">
                  <!--<option value="test">Select any Trails traveled</option>-->
                  {{#each data.reports}}
                  <option value="{{this.reportID}}">{{this.reportID}}</option>
                  {{/each}}
                </select>
          <label> User ID </label>
            <select name="userIDInput" id="UserIDInput">
                <!--<option value="test">Select any Trails traveled</option>-->
                {{#each data.users}}
                <option value="{{this.userID}}">{{this.userName}}</option>
                {{/each}}
              </select>

          <!--<label> Picture </label> <input type="file" name="pictureInput" id="pictureInput">-->          	
      </fieldset>
          <input class="btn" type="submit" value="Add Comment">
          <input class="btn" type="button" value="cancel" onClick="browseComment()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>


</body>
</html>
