<!-- Citation for the following code:
-- Date: 02/14/2024
-- Adapted from  
-- Source bsg_HTML_UI/people.html downloaded from https://canvas.oregonstate.edu/courses/1946034/pages/exploration-web-application-technology?module_item_id=23809327-->


<!--Citation for displaying data
//      # Date: 3/9/2024
//      # Adapted from assignment tutorial
//      # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data

<!-- Citation for adding data 
//      # Date: 3/9/2024
//      # Adapted from assignment tutorial
//      # Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data-->


<html>
<head>
<title>Trails_has_Reports</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script language="JavaScript">
		function showform(dowhat) {
			/*
			* four DIVS: browse, insert, update, delete
			* this function sets one visible the others not
			*/
			if (dowhat == 'insert'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'update'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'none';
			}
			else if (dowhat == 'delete'){
				document.getElementById('browse').style.display = 'none';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'block';
			}
      else if (dowhat == 'all'){
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'block';
				document.getElementById('update').style.display = 'block';
				document.getElementById('delete').style.display = 'block';
			}
			else { //by default display browse
				document.getElementById('browse').style.display = 'block';
				document.getElementById('insert').style.display = 'none';
				document.getElementById('update').style.display = 'none';
				document.getElementById('delete').style.display = 'none';
			}
		}
    function newTrails_has_Reports() { showform('insert'); }
    function updateTrails_has_Reports(pid) { showform('update'); }
    //function deleteTrails_has_Reports(Trails_has_ReportsID);// { showform ('delete'); }
    function browseTrails_has_Reports() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>

</head>

<body onload="browseTrails_has_Reports()">
<h1>Trails_has_Reports</h1>

<nav>
    <a href="trails.html">Trails</a> | <a href="reports.html">Reports</a> | <a href="users.html">Users</a> | <a href="comments.html">Comments</a> | <a href="trails_has_reports.html">Trails_has_Reports</a>
</nav>
<div id="browse">
<p><a href="#" onClick="showAll()">Display all forms</a> </p>
<table id="Trails_has_Reports-table">
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
          {{#each data.trailReports.[0]}}
          <th>
              {{@key}}
          </th>
          {{/each}}
        </tr>
    </thead>
  {{#each data.trailReports}}
  <tr data-value={{this.Trails_has_ReportsID}}>
<!--    <td><a href="#" onClick="updateTrails_has_Reports('{{this.Trails_has_ReportsID}}')">Edit</a></td> -->
    <td>{{this.trailReportID}}</td>
    <td>{{this.trailID}}</td>
    <td>{{this.reportID}}</td>
  </tr>
  {{/each}}
 
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addTrails_has_Reports" action="/add-Trails_has_Reports-form"> <!--enctype="multipart/form-data"-->
        <legend><strong>Add Trails_has_Reports</strong></legend>
          <fieldset class="fields">
          <label> Trail ID </label>
            <select name="trailIDInput" id="trailIDInput">
              <!--<option value="test">Select any Trails traveled</option>-->
              {{#each data.trails}}
              <option value="{{this.trailID}}">{{this.trailID}}</option>
              {{/each}}
            </select>
          <label> reportID </label>
            <select name="reportIDInput" id="reportIDInput">
              <!--<option value="test">Select any Trails traveled</option>-->
              {{#each data.reports}}
              <option value="{{this.reportID}}">{{this.reportID}}</option>
              {{/each}}
            </select>
          
          <!--<label> Picture </label> <input type="file" name="pictureInput" id="pictureInput">-->          	
      </fieldset>
          <input class="btn" type="submit" value="Add Trails_has_Reports">
          <input class="btn" type="button" value="cancel" onClick="browseTrails_has_Reports()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
</body>
</html>
